*.pyc
*~
build/
.pytest_cache/
dist/
.cache/
.idea
.DS_Store
doc/.DS_Store
pandapower.egg-info/
doc/api/
doc/.build/*
doc/_build/*
tutorials/.ipynb_checkpoints
.cache
*__pycache__*
.vs
*.pyproj
*.user
*.sln
*.bak
*.orig
*.ini
pandapower/plotting/plotly/mapbox_token.txt
pandapower/plotting/plotly/temp-plot.html
pandapower/test/timeseries/run_timeseries_output/*
pandapower/timeseries/logs/*
*/data/*
/.vscode/
