include LICENSE AUTHORS README.rst CHANGELOG.rst
include pandapower/converter/powerfactory/power_factory_files/*
include pandapower/test/api/input_files/*
include pandapower/test/test_files/example_cim/*

global-include *.p 
global-include *.m
global-include *.mat
global-include *.json
global-include *.jl
global-include *.csv

prune .git*
prune doc*
prune tutorials*
