include LICENSE
include AUTHORS
include README.rst
include *.cfg
include *.ini
include *.rst
recursive-include pandapower/test *
recursive-include pandapower/networks *
global-include *.py
recursive-include docs *
